div#main-box
  position: absolute
  top: 50%
  transform: translate(0, -50%)
  div#signup
    background-color: rgba(224, 95, 101, 0.8)
    color: white
    font-weight: bold
  div#login
    background-color: #c0cad3
    color: white
    font-weight: bold
  div.main-btn
    text-align: center
    padding: 10px
    font-size: 15px
    margin-bottom: 7px
  a#facebook-login
    color: #2e6da4
  a#google-login
    color: darkred
  a.social-btn
    text-align: center
    font-size: 13px
    padding: 5px
    color: black
    font-weight: bold