{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diary</title>



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/month_calendar.js' %}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/common.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/month_calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/diary_add.min.css' %}">

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="#" calss="navbar-brand">every Diary</a>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    <li>{{ user.username }}</li>
                    {% endif %}
                    <li>
                        <a href="{% url 'diary:month_calendar' %}">Calendar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}alert-info
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}alert-danger
                    {% endif %}" role="alert">{{ message }} </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
