<!doctype html>
<html lang="ko">
<head>
    {% load staticfiles %}
    {% load compress %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Think and Write{% endblock %}</title>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/month_calendar.js' %}"></script>

    {% compress css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/x-sass" href="{% static 'sass/common.sass' %}">
    <link rel="stylesheet" type="text/x-sass" href="{% static 'sass/month_calendar.sass' %}">
    <link rel="stylesheet" type="text/x-sass" href="{% static 'sass/diary_add.sass' %}">
    <link rel="stylesheet" type="text/x-sass" href="{% static 'sass/index.sass' %}">
    <link rel="stylesheet" type="text/x-sass" href="{% static 'sass/login.sass' %}">
    {% endcompress %}

</head>
<body>
    <nav class="nav">
        <div>THINK & WRITE</div>
        <ul>
            <li><a href="">LOGOUT</a></li>
            <li><a href="">CALENDAR</a></li>
        </ul>
    </nav>
    <div class="container">
        {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}alert-info
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}alert-danger
                    {% endif %}" role="alert">{{ message }} </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>
